@model List<prjMvcDemo.Models.CCustomer>
@{
    ViewBag.Title = "List";
}

<h2>客戶一覽表</h2>
<div>
    <p>
        <a href="~/list/New">新增客戶</a>
    </p>
    <table border="1">
        <tr>
            <td>序</td>
            <td>姓名</td>
            <td>電話</td>
            <td>電子郵件</td>
            <td>地址</td>
            <td>密碼</td>
        </tr>
        @{
            int count = 0;
            foreach (prjMvcDemo.Models.CCustomer c in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@c.fname</td>
                    <td>@c.fphone</td>
                    <td>@c.fEmail</td>
                    <td>@c.fAdress</td>
                    <td>@c.fPassword</td>
                    <td>@Html.ActionLink("刪除","Delete","list",new  { id = c.fid},
                        new { onclick="return confirm('確定要刪除嗎?')"})</td>
                </tr>
            }
        }
        </table>
</div>

