@model IEnumerable<prjMvcDemo.tProduct>

@{
    ViewBag.Title = "商品購物";
}

<h2>List</h2>

<p>
    @Html.ActionLink("檢視購物車", "CartView")
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            品名
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dQty)
        </th>
        <th>
            價格
        </th>
        <th>
            動作
        </th>
    </tr>

    @{ 
        int count = 0;
        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dPrice)
                </td>
                <td>
                    @Html.ActionLink("加入購物車", "AddToCart", new { id = item.fId })|
                    @Html.ActionLink("加入Sesstion", "AddToSeestion", new { id = item.fId })
                </td>
            </tr>
        }}


</table>
